In [71]:
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')

In [72]:
df0 = pd.read_csv("btc-1d-0.csv")
df1 = pd.read_csv("btc-1d-1.csv")
df2 = pd.read_csv("btc-1d-2.csv")
df3 = pd.read_csv("btc-1d-3.csv")
df4 = pd.read_csv("btc-1d-4.csv")

df = pd.concat([df0,df1, df2 , df3 , df4], ignore_index=True, sort=False)

In [73]:
df["date"] = pd.to_datetime(df["date"])
df.dtypes

Unnamed: 0             int64
date          datetime64[ns]
open                 float64
high                 float64
low                  float64
close                float64
volume               float64
market cap           float64
dtype: object

In [74]:
df.sort_values(by='date' , inplace=True )
df.drop(columns = ["Unnamed: 0"] , axis = 1 , inplace=True)
df.reset_index( inplace=True)
df.drop(columns = ["index"] , axis = 1 , inplace=True)
df

,date,open,high,low,close,volume,market cap
0,2014-04-24,490.83,500.46,482.95,500.46,1.300940e+07,6.350013e+09
1,2014-04-25,500.09,500.30,442.95,461.45,4.685650e+07,5.857080e+09
2,2014-04-26,461.70,464.54,449.10,458.60,1.221460e+07,5.822777e+09
3,2014-04-27,457.24,459.33,436.39,436.39,1.094950e+07,5.542720e+09
4,2014-04-28,430.72,447.53,422.94,440.29,2.387660e+07,5.593865e+09
...,...,...,...,...,...,...,...
3800,2023-01-14,19910.54,21075.14,19907.83,20976.30,3.896778e+10,4.040522e+11
3801,2023-01-15,20977.48,20993.75,20606.99,20880.80,1.929841e+10,4.022347e+11
3802,2023-01-16,20882.22,21360.87,20715.75,21169.63,2.679249e+10,4.078182e+11
3803,2023-01-17,21175.83,21438.66,20978.53,21161.52,2.499998e+10,4.076820e+11
3804,2023-01-18,21161.05,21564.50,20541.54,20688.78,3.000563e+10,3.985930e+11

In [75]:
df.to_csv('btc.csv')

In [76]:
df_btc = df[df['date'] >= "2015-08-07"]
df_btc.drop_duplicates(subset=['date'] , inplace=True)
df_btc.reset_index( inplace=True)
df_btc.drop(columns = ["index"] , axis = 1 , inplace=True)
df_btc

,date,open,high,low,close,volume,market cap
0,2015-08-07,278.74,280.39,276.37,279.58,4.248480e+07,4.045993e+09
1,2015-08-08,279.74,279.93,260.71,261.00,5.853300e+07,3.778049e+09
2,2015-08-09,261.12,267.00,260.47,265.08,2.378960e+07,3.838130e+09
3,2015-08-10,265.48,267.03,262.60,264.47,2.097940e+07,3.830352e+09
4,2015-08-11,264.34,270.39,264.09,270.39,2.543390e+07,3.917143e+09
...,...,...,...,...,...,...,...
2717,2023-01-14,19910.54,21075.14,19907.83,20976.30,3.896778e+10,4.040522e+11
2718,2023-01-15,20977.48,20993.75,20606.99,20880.80,1.929841e+10,4.022347e+11
2719,2023-01-16,20882.22,21360.87,20715.75,21169.63,2.679249e+10,4.078182e+11
2720,2023-01-17,21175.83,21438.66,20978.53,21161.52,2.499998e+10,4.076820e+11
2721,2023-01-18,21161.05,21564.50,20541.54,20688.78,3.000563e+10,3.985930e+11

In [77]:
df0 = pd.read_csv("tether-1d.csv")
df0["date"] = pd.to_datetime(df0["date"])
df0.sort_values(by='date' , inplace=True )
df0.drop(columns = ["Unnamed: 0"] , axis = 1 , inplace=True)
df0.reset_index( inplace=True)
df0.drop(columns = ["index"] , axis = 1 , inplace=True)
df0

           date    open    high     low   close        volume    market cap
0    2015-02-25  1.2100  1.2200  1.2100  1.2100  6.000000e+00  3.047130e+05
1    2015-02-26  1.2100  1.2100  1.1900  1.2100  6.000000e+00  3.033640e+05
2    2015-03-02  0.5712  0.6079  0.5683  0.6065  3.000000e+00  1.525960e+05
3    2015-03-03  0.6051  0.6062  0.6044  0.6062  3.000000e+00  1.525270e+05
4    2015-03-06  1.0000  1.0000  1.0000  1.0000  9.300000e+01  2.516000e+05
...         ...     ...     ...     ...     ...           ...           ...
2875 2023-01-14  1.0000  1.0000  1.0000  1.0000  5.370827e+10  6.628300e+10
2876 2023-01-15  1.0000  1.0000  1.0000  1.0000  3.002822e+10  6.638018e+10
2877 2023-01-16  1.0000  1.0000  1.0000  1.0000  3.595737e+10  6.636375e+10
2878 2023-01-17  1.0000  1.0000  1.0000  1.0000  3.225087e+10  6.649171e+10
2879 2023-01-18  1.0000  1.0000  0.9999  0.9999  4.049622e+10  6.648416e+10

[2880 rows x 7 columns]

In [78]:
df_ttr = df0[df0['date'] >= "2015-08-07"]
df_ttr.reset_index( inplace=True)
df_ttr.drop(columns = ["index"] , axis = 1 , inplace=True)
df_ttr

           date  open  high     low   close        volume    market cap
0    2015-08-07   1.0   1.0  1.0000  1.0000  1.890550e+05  4.516000e+05
1    2015-08-08   1.0   1.0  1.0000  1.0000  2.229000e+03  4.516000e+05
2    2015-08-09   1.0   1.0  1.0000  1.0000  6.570000e+02  4.516000e+05
3    2015-08-10   1.0   1.0  1.0000  1.0000  1.522650e+05  4.516000e+05
4    2015-08-11   1.0   1.0  1.0000  1.0000  5.260000e+02  4.516000e+05
...         ...   ...   ...     ...     ...           ...           ...
2717 2023-01-14   1.0   1.0  1.0000  1.0000  5.370827e+10  6.628300e+10
2718 2023-01-15   1.0   1.0  1.0000  1.0000  3.002822e+10  6.638018e+10
2719 2023-01-16   1.0   1.0  1.0000  1.0000  3.595737e+10  6.636375e+10
2720 2023-01-17   1.0   1.0  1.0000  1.0000  3.225087e+10  6.649171e+10
2721 2023-01-18   1.0   1.0  0.9999  0.9999  4.049622e+10  6.648416e+10

[2722 rows x 7 columns]

In [79]:
df_eth = pd.read_csv("eth-1d-2.csv")
df_eth["date"] = pd.to_datetime(df_eth["date"])
df_eth.sort_values(by='date' , inplace=True )
df_eth.drop(columns = ["Unnamed: 0"] , axis = 1 , inplace=True)
df_eth.reset_index( inplace=True)
df_eth.drop(columns = ["index"] , axis = 1 , inplace=True)
df_eth

,date,open,high,low,close,volume,market cap
0,2015-08-07,2.8300,3.5400,2.5200,2.7700,1.643290e+05,1.666106e+08
1,2015-08-08,2.7900,2.8000,0.7147,0.7533,6.741880e+05,4.548689e+07
2,2015-08-09,0.7061,0.8798,0.6292,0.7019,5.321700e+05,4.239957e+07
3,2015-08-10,0.7140,0.7299,0.6365,0.7084,4.052830e+05,4.281836e+07
4,2015-08-11,0.7081,1.1300,0.6632,1.0700,1.463100e+06,6.456929e+07
...,...,...,...,...,...,...,...
2717,2023-01-14,1451.4300,1563.7400,1450.9900,1550.7100,1.544463e+10,1.897660e+11
2718,2023-01-15,1550.7300,1556.9500,1520.8900,1552.4800,6.774614e+09,1.899829e+11
2719,2023-01-16,1552.5200,1594.0400,1529.5700,1576.8300,8.454485e+09,1.929632e+11
2720,2023-01-17,1577.1100,1594.0000,1553.3400,1567.8500,7.599463e+09,1.918634e+11
2721,2023-01-18,1567.7000,1602.1100,1509.4200,1515.5100,1.035488e+10,1.854585e+11

In [81]:
out1 = pd.merge(df_eth, df_ttr, on='date', how='outer')
data = pd.merge(out1, df_btc, on='date', how='outer')
data

,date,open_x,high_x,low_x,close_x,volume_x,market cap_x,open_y,high_y,low_y,close_y,volume_y,market cap_y,open,high,low,close,volume,market cap
0,2015-08-07,2.8300,3.5400,2.5200,2.7700,1.643290e+05,1.666106e+08,1.0,1.0,1.0000,1.0000,1.890550e+05,4.516000e+05,278.74,280.39,276.37,279.58,4.248480e+07,4.045993e+09
1,2015-08-08,2.7900,2.8000,0.7147,0.7533,6.741880e+05,4.548689e+07,1.0,1.0,1.0000,1.0000,2.229000e+03,4.516000e+05,279.74,279.93,260.71,261.00,5.853300e+07,3.778049e+09
2,2015-08-09,0.7061,0.8798,0.6292,0.7019,5.321700e+05,4.239957e+07,1.0,1.0,1.0000,1.0000,6.570000e+02,4.516000e+05,261.12,267.00,260.47,265.08,2.378960e+07,3.838130e+09
3,2015-08-10,0.7140,0.7299,0.6365,0.7084,4.052830e+05,4.281836e+07,1.0,1.0,1.0000,1.0000,1.522650e+05,4.516000e+05,265.48,267.03,262.60,264.47,2.097940e+07,3.830352e+09
4,2015-08-11,0.7081,1.1300,0.6632,1.0700,1.463100e+06,6.456929e+07,1.0,1.0,1.0000,1.0000,5.260000e+02,4.516000e+05,264.34,270.39,264.09,270.39,2.543390e+07,3.917143e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2717,2023-01-14,1451.4300,1563.7400,1450.9900,1550.7100,1.544463e+10,1.897660e+11,1.0,1.0,1.0000,1.0000,5.370827e+10,6.628300e+10,19910.54,21075.14,19907.83,20976.30,3.896778e+10,4.040522e+11
2718,2023-01-15,1550.7300,1556.9500,1520.8900,1552.4800,6.774614e+09,1.899829e+11,1.0,1.0,1.0000,1.0000,3.002822e+10,6.638018e+10,20977.48,20993.75,20606.99,20880.80,1.929841e+10,4.022347e+11
2719,2023-01-16,1552.5200,1594.0400,1529.5700,1576.8300,8.454485e+09,1.929632e+11,1.0,1.0,1.0000,1.0000,3.595737e+10,6.636375e+10,20882.22,21360.87,20715.75,21169.63,2.679249e+10,4.078182e+11
2720,2023-01-17,1577.1100,1594.0000,1553.3400,1567.8500,7.599463e+09,1.918634e+11,1.0,1.0,1.0000,1.0000,3.225087e+10,6.649171e+10,21175.83,21438.66,20978.53,21161.52,2.499998e+10,4.076820e+11
2721,2023-01-18,1567.7000,1602.1100,1509.4200,1515.5100,1.035488e+10,1.854585e+11,1.0,1.0,0.9999,0.9999,4.049622e+10,6.648416e+10,21161.05,21564.50,20541.54,20688.78,3.000563e+10,3.985930e+11

In [82]:
data.isna().sum()

date            0
open_x          0
high_x          0
low_x           0
close_x         0
volume_x        0
market cap_x    0
open_y          0
high_y          0
low_y           0
close_y         0
volume_y        0
market cap_y    0
open            0
high            0
low             0
close           0
volume          0
market cap      0
dtype: int64

In [ ]:
data.to_csv('data.csv')